<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title> Message Board - {%block title %}{% endblock title %}</title>
</head>
<body>
<h1>Message Board</h1>
{% include("_navigation.html")  %}
<section>
  <header>
    {% block header %}{% endblock header %}
    {#<div class="flash success">Everything worked!</div>
    <div class="flash error">Oh no, something went wrong.</div>#}
  {% for category,message in get_flashed_messages(with_categories=true) %}
  	<div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
  </header>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
</body>
</html>